{% extends "base.html" %}

{% block title %}Russian Engineers - Подтвердите свой сраный аккаунт {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Вечер в хату, {{ current_user.username }}!
    </h1>
    <h3>А кто будет свой аккаунт подтверждать!?</h3>
    <p>
        Пока не заапрувишь - будешь тут как лошара.
        Чекни почту, старина, там должно быть то самое письмо.
    </p>
    <p>
        Проебал ссылку? Ну на тебе новую, хер с тобой:
        <a href="{{ url_for('.resend_confirmation') }}"> сделай тыц </a>
    </p>
</div>
{% endblock %}
