/* static/css/styles.css */

.logs-container {
    max-height: 400px;  /* Ограничение высоты */
    overflow-y: auto;   /* Прокрутка */
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: monospace;
}

.log-entry {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.log-info {
    color: #28a745 !important; /* Зеленый для INFO */
}
.log-warning {
    color: #ffc107 !important; /* Желтый для WARNING */
}
.log-error {
    color: #dc3545 !important; /* Красный для ERROR */
}

.refresh-btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

#log-filter {
    margin: 10px 0;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Основные стили для списка постов */
.posts {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

/* Стили для каждого поста */
.post {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.post:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Стили для заголовка поста */
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Стили для имени автора */
.post-author a {
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.post-author a:hover {
    color: #007bff;
}

/* Стили для даты поста */
.post-date {
    font-size: 0.9em;
    color: #777;
}

/* Стили для текста поста */
.post-body {
    font-size: 1em;
    line-height: 1.5;
    color: #444;
}


/* Стили пагинации */
.pagination {
    margin: 2rem 0;
    font-family: inherit;
}

.pagination .page-item {
    margin: 0 0.2rem;
}

.pagination .page-link {
    font-size: 0.9em;
    color: #777;
    border: 1px solid #e0e0e0;
    padding: 0.5rem 0.8rem;
    transition: all 0.3s ease;
}

.pagination .page-link:hover {
    color: #555;
    background-color: #f8f9fa;
    border-color: #ddd;
}

.pagination .page-item.active .page-link {
    background-color: #f0f0f0;
    border-color: #ddd;
    color: #444;
    font-weight: normal;
}

.pagination .page-item.disabled .page-link {
    color: #bbb;
    background-color: #fff;
    border-color: #eee;
}

/* Адаптивность */
@media (max-width: 576px) {
    .pagination .page-item {
        margin: 0 0.1rem;
    }
    .pagination .page-link {
        padding: 0.4rem 0.6rem;
        font-size: 0.85em;
    }
}