<ul class="list-unstyled mb-4">
    {% for comment in comments %}
        <li class="mb-3 p-3 rounded-3 comment-item comment-hover">
            <div class="comment-content">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <a href="{{ url_for('.profile', username=comment.author.username) }}" 
                       class="text-dark fw-semibold text-decoration-none hover-primary">
                        {{ comment.author.username }}
                    </a>
                    <small class="text-muted">{{ moment(comment.created_at).fromNow() }}</small>
                </div>
                {% if comment.disabled %}
                    <p>
                        <i>This comment has been disabled by a moderator.</i>
                    </p>
                {% endif %}
                
                {% if moderate or not comment.disabled %}
                    <div class="text-break lh-sm comment-text">
                        {{ comment.body }}
                    </div>
                {% endif %}
            </div>
            {% if moderate %}
                <br>
                {% if comment.disabled %}
                    <a class="btn btn-success btn-xxs" href="{{ url_for('.moderate_enable',id=comment.id, page=page) }}">
                        Enable
                    </a> 
                {% else %}
                    <a class="btn btn-danger btn-xxs" href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">
                        Disable
                    </a>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
