<ul class="posts">
    {% for post in posts %}
        <li class="post">
            <div class="post-content">
                <div class="post-header">
                    <div class="post-author">
                        <a href="{{ url_for('.profile', username=post.author.username) }}">
                            {{ post.author.username }}
                        </a>
                    </div>
                    <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
                </div>
                <div class="post-body">
                    {# {{ post.body[:200] ~ '...' if post.body|length > 200 else post.body }} #}
                    {{ post.render_html() | safe }}
                </div>
                <div class="post-footer mt-2 pt-2 border-top">
                    <!-- Читать полностью (светлая) -->
                    <a href="{{ url_for('.post_details', id=post.id) }}" class="badge text-bg-light text-decoration-none hover-effect-easy me-2">
                        Читать полностью <i class="bi bi-arrow-right ms-1"></i>
                    </a>
                
                    {% if current_user == post.author or current_user.is_administrator() %}
                        <!-- Редактировать (зелёная) -->
                        <a href="{{ url_for('.post_edit', id=post.id) }}" class="badge text-bg-success text-decoration-none hover-effect me-2">
                            <i class="bi bi-pencil-square ms-1"></i>
                            Редактировать
                            {% if current_user.is_administrator() and current_user != post.author %}[Admin]{% endif %}
                        </a>
                
                        <!-- Удалить (красная) -->
                        <a href="{{ url_for('.post_delete', id=post.id, page=request.args.get('page', 1)) }}" class="badge text-bg-danger text-decoration-none hover-effect me-2">
                            <i class="bi bi-trash ms-1"></i>
                            Удалить
                            {% if current_user.is_administrator() and current_user != post.author %}[Admin]{% endif %}
                        </a>
                    {% endif %}
                    <a href="{{ url_for('.post_details', id=post.id) }}#comments" class="badge text-bg-link text-decoration-none hover-effect-easy me-2 bg-transparent text-dark">
                        <i class="bi bi-chat-left-text me-1"></i>
                        {{ post.comments.count() }} {% if post.comments.count() == 1 %}comment{% else %}comments{% endif %}
                    </a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>