{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_pagination.html" import render_pagination %}

{% block head %}  
{{ super() }}  
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
{% endblock %}

{% block page_content %} 
<div class="page-header"> 
    <h1> 
        Hello, 
        {% if current_user.is_authenticated %}
            {{ current_user.username }} 
        {% else %}
            Stranger 
        {% endif %}!
    </h1>
	<p>Your browser is {{user_agent}}</p>
    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p> 
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
</div> 
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %} 
        {{ wtf.quick_form(
            form, 
            extra_classes="form-compact", 
            button_map={'submit': 'btn btn-dark'}) 
        }}
    {% endif %}
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var easyMDE = new EasyMDE({
            element: document.getElementById("body"),
            placeholder: "Начните писать пост в Markdown...",
            minHeight: "100px",
            maxHeight: "200px",
            autoFocus: false,
            status: true, // Статус бар снизу
        });
    });
</script>


{% if current_user.is_authenticated %}
    {% include '_posts.html' %}
    {{ render_pagination(pagination) }}
{% endif %}

{% endblock %}
