{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_pagination.html" import render_pagination %}

{% block title %} 
    Russian Engineers - Пост {{posts[0].id}}     
{% endblock %}

{% block page_content %} 
{% include '_posts.html' %}

<br> </br>
<div class="page-header py-2 mb-3">
    <h3 class="mb-0 text-muted"> Комменты: </h3> 
</div>
{% if current_user.can(Permission.COMMENT) %}
    <div class="mt-4 p-3 rounded-3" style="background-color: #f8f9fa20;">
        {{ wtf.quick_form(
            form,
            extra_classes="form-compact",
            button_map={'submit': 'btn btn-sm btn-dark mt-2'}
        ) }}
    </div>
{% endif %}
<br> </br>

{% if current_user.is_authenticated %}
    {% include '_comments.html' %}
    {{ render_pagination(pagination, id=posts[0].id) }}
{% endif %}
{% endblock %}
